<div id="loginOptionsContainer" style="display: none;">
    <div id="loginOptionsContent">
        <div class="loginOptionsMainContent">
            <img class="loginOptionsLogo" src="assets/images/site/logo.jpg" alt="" />
            <h2><%- lang('loginOptions.loginOptionsTitle') %></h2>
            <div class="loginOptionActions">
                <div class="loginOptionButtonContainer">
                    <input id="guestNicknameInput" type="text" maxlength="16"
                        placeholder="<%- lang('loginOptions.guestNicknamePlaceholder') %>"
                        autocomplete="off" />
                    <button id="loginOptionGuest" class="loginOptionButton">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                        <span><%- lang('loginOptions.guestSubmitButton') %></span>
                    </button>
                    <small id="guestNicknameError"></small>
                </div>
            </div>
            <div id="loginOptionCancelContainer" style="display: none;">
                <button id="loginOptionCancelButton"><%- lang('loginOptions.cancelButton') %></button>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/loginOptions.js"></script>
</div>